<html>
    <head>
        <title>Ella\s Blog!</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to Ella's Blog!</a></h1>
			<h2> This is about a new Life! Beginning of a new lifestyle!</h2>
			<p> I want to make a difference! Love to make it on great scale, but if nothing significant happens, I want to make a difference on <b><em> Ella's family</em></b> who filled my heart and gave meaning to my life.</p>
        </div>

        <div>
            <p>published: 01.25.2020, 22:24</p>
            <h2><a href="">My first post</a></h2>
            <p>Life is too short not to love or not be loved! <br><strong>That's the only things that <b>truly</b> matters!</strong></p>
        </div>

        <div>
            <p>published: 01.26.2020, 2:15 pm</p>
            <h2><a href="">My second post</a></h2>
            <p>If I want to name things that matters to me in order, they are: <ul><li>Indeed LOVE comes first!</li><li>Education and being productive matters next!</li><li>Feeling of being positive in other lives!</li><li>Actively contribute to help othres!</li><li>Have some meaningful goal and scope in life!</li><li>Attaining each goal and set a new one!</li></ul></p>
        </div>
    </body>
</html>

